* {
    padding: 0px;
    margin: 0px;
}

header {
    height: auto;
    width: 100vw;
    display: flex;
    background: inherit;
    backdrop-filter: blur(3px);
    box-shadow: 2px 2px;

    & > .head {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100vw;
        margin-right: 4vw;
        gap: 0.5vw;

        & > a {
            text-decoration: none;

            & > button {
                cursor: pointer;
                padding: 1rem;
                color: white;
                background-color: rgba(255, 255, 255, 0);
                border: none;
                transition: all 0.6s ease;

                &:hover {
                    background-color: rgba(255, 255, 255, 0.295);
                    transition: all 0.6s ease;
                    font-size: 15px;
                }

                &:active {
                    background-color: rgba(255, 255, 255, 0.637);
                    transition: all 0.1s;
                }
            }

            & > button.current {
                background-color: rgba(255, 255, 255, 0.37);
            }
        }
    }
}